*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    background-color: #d5ff40;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.nav-list{
    font-size: 25px;
}

nav h1{
    font-size: 30px;
    font-weight: 400;
}

.nav-bar > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: rgb(80, 74, 74);
}
section{
    padding: 30px 70px;
}

.hero-text1{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.hero-text1 h1{
    text-transform: uppercase;
    font-size: 200px;
    line-height: 180px;
}

.video{
    height: 120px;
    width: 500px;
    background-color: #111;
    border-radius: 100px;
    margin-top: 40px;
    background-image: url(https://plus.unsplash.com/premium_photo-1731437747237-8fabba7551bb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
    padding: 6px;
}

.video .play{
    height: 100%;
    width: 110px;
    border-radius: 100px;
    background-color: #111;
    border: 4px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i{
    font-size: 60px;
    color: white;
}
.hero-text2{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.hero-text2 h1{
    text-transform: uppercase;
    font-size: 200px;
    line-height: 180px;
}

.hero-text2 p{
    font-size: 25px;
    width: 600px;
}

.agency-btn{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.agency-btn1{
    border: 2px solid #545353;
    border-radius: 30px;
    font-size: 25px;
    padding: 10px 20px;
    color: #545353;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.agency-btn1 i{
    width: 40px;
    height: 100%;
}

.image{
    height: 800px;
    width: 90%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-left: 5%;
    background-color: red;
    background: url(https://images.unsplash.com/photo-1738959869827-5fce13a44d43?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1332);
    background-size: cover;
    background-position: center;
    position: relative;
}

.arrow{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(55, 54, 54);
    border-radius: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10%;
    top: -4%;
}

.arrow i{
    font-size: 70px;
    color: white;
}